<!Doctype html>
<html>
	<head>
		<title>Admin Console</title>
		<!-- Import custom CSS -->
		<link rel="stylesheet" href="../static/css/globalstyle.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
	</head>
	<body>
	<div class="container">
		<!-- Using boostrap to style the pathurl and the display logininfo -->
		<div class="row">
			<div class="col-md-12 loginInfo">
			<h4>User info</h4>
			</div>
			<div class="col-md-12 pathurl">
				<h4>path url display</h4>
			</div>
		</div>
		<!-- Using boostrap to style the sideNav and the display content directory -->
		<div class="row">
			<div class="col-md-3 sideNav">
			<h1>Side Nave</h1>
		</div>
		
		<div class="col-md-9 directoryContentDisplay">
			<h1>Display</h1>
		</div>
		</div>
		
	</div>
	</body>
</html>